# Игнорирование виртуальных окружений
venv/
env/

# Игнорирование файлов кэша Python и временных файлов
*.pyc
__pycache__/
*.log

# Игнорирование конфигураций IDE
.vscode/
.idea/

# Игнорирование Docker данных
*.env
docker-compose.override.yml
docker-data/  # если используете volume для данных базы данных

# Игнорирование файлов конфигурации PostgreSQL
pgdata/
